@media only screen and (max-width: 1900px) {
  .gr-comparision-matching {
    .gr-comparision-option {
      width: 30%;
    }
    .input-text-custom {
      width: 70%;
    }
  }
}
@media only screen and (max-width: 1700px) {
  .gr-comparision-matching {
    .gr-comparision-option {
      width: 35%;
    }
    .input-text-custom {
      width: 65%;
    }
  }
}
@media only screen and (max-width: 1500px) {
  .gr-comparision-matching {
    .gr-comparision-option {
      width: 40%;
    }
    .input-text-custom {
      width: 60%;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .gr-comparision-matching {
    .gr-comparision-option {
      width: 50%;
    }
    .input-text-custom {
      width: 50%;
    }
  }
}
.table-responsive {
  max-height: 48vh !important;
}
