<div class="chart-container">
  <label class="title-feature">Thống kê sử dụng thẻ vé xe</label>
  <div class="field-search">
    <div class="search-citeria">
      <app-date-filter
        [class]="periods == 8 ? 'col-9' : 'col-3'"
        (timeChange)="onTimeChange($event)"
        [periods]="periods"
        [clearable]="false"
      >
      </app-date-filter>

      <div class="type-report item-search">
        <span>Loại thống kê</span>
        <div class="select-search-custom">
          <ng-select
            [items]="listType"
            bindLabel="name"
            bindValue="value"
            [clearable]="false"
            [(ngModel)]="ticketScanLogsFilter.groupType"
            (ngModelChange)="onChangeValue()"
          >
          </ng-select>
        </div>
      </div>

      <div class="type-report item-search">
        <span>Hành động quét thẻ</span>
        <div class="select-search-custom">
          <ng-select
            [items]="TICKET_SCAN_LOG_TYPE"
            bindLabel="name"
            bindValue="value"
            [clearable]="false"
            [(ngModel)]="ticketScanLogsFilter.type"
            (ngModelChange)="onChangeValue()"
          >
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <div class="form-chart overflow-auto mt-3">
    <canvas id="canvas" height="100%">{{ chart }}</canvas>
  </div>
</div>
