.modal-body {
  max-height: 75vh;
  overflow-y: auto;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 45vh;
}

.modal-footer {
  height: 64px !important;
  width: 100%;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.input-value {
  outline: none;
  width: 100%;

  &:hover {
    background-color: #e8e8e8;
    border-opacity: 0.4;
  }
}

.category-input {
  border: none;
}

.form-control:disabled {
  background-color: #ffffff;
  opacity: 1;
}

.select-value {
  &:hover {
    background-color: #e8e8e8;
    border-opacity: 0.4;
  }
}

.panel-custom {
  box-shadow: none !important;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0;
  height: fit-content;
}

.group-basic-info {
  display: flex;
  height: fit-content;
}

.product-basic-info {
  padding: 0.75rem 0.75rem 0.75rem 0;
  width: 57%;
}

.item-basic-info {
  margin: 0.75rem 0 0.75rem;
}

.title-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #58647a;
}

.double-product-info {
  width: 100%;
  display: flex;
}

.first-info {
  width: 50%;
  padding-right: 8px;
}

.second-info {
  width: 50%;
  padding-left: 8px;
}

.button-add-value {
  width: 36px;
  height: 36px;
  background-color: #0074bd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  i {
    color: #ffffff;
    font-size: 14px;
  }
}

.group-select-addition {
  display: flex;
  justify-content: space-between;
}

.select-add-value {
  width: calc(100% - 52px);
}

:host::ng-deep .select-value:hover {
  background-color: #ffffff;
}

.group-input-limit {
  position: relative;
}

.char-limit-display {
  position: absolute;
  right: 1.25rem;
  bottom: 0.45rem;
  font-size: small;
  color: #6e6e6e;
}

.input-limit {
  padding-right: 3.25rem;
}

:host::ng-deep .btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: #ffffff;
  pointer-events: none;
  background-color: #1484c6;
  border-color: #1484c6;
  opacity: 0.5;
}

.pos-group-info {
  border: 1px solid #b0d4eb;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 12px;
}

.header-group-info {
  background-color: #b0d4eb;
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;

  i {
    color: #004671;
  }
}

.title-header-info {
  color: #004671;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}

.save-button-dialog {
  padding: 8px 24px !important;
}

.exit-button-dialog {
  padding: 8px 18px !important;
}

.group-img {
  width: 43%;
  padding: 48px 0 24px 16px;
}

.item-img {
  background: #ffffff;
  border: 1px solid #b0d4eb;
  box-shadow: 1px 3px 7px rgba(0, 116, 189, 0.2);
  border-radius: 8px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-default {
  width: 115px;
}

.product-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 95%;
    max-height: 250px;
    border-radius: 8px;
  }
}

.btn-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
}

.unit-info {
  padding: 12px 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.border-unit {
  width: 100%;
  padding: 0 18px;
}

hr {
  color: #d9eaf5;
  opacity: 1;
  margin: 0;
}

@media only screen and (max-width: 2500px) {
  .convert-unit-info {
    width: 15.5%;
    margin-right: 8px;
  }
  .convert-unit {
    width: 15.5%;
    margin-right: 8px;
  }
  .convert-barcode {
    width: 15.5%;
    margin-right: 8px;
  }
}

@media only screen and (max-width: 1201px) {
  .unit-info {
    flex-wrap: wrap;
  }

  .convert-unit {
    width: calc(50% - 12px);
    margin-right: 0;
  }

  .convert-barcode {
    width: calc(50% - 12px);
    margin-right: 0;
  }

  .convert-unit-info {
    width: 25.5%;
    margin-right: 0;
    margin-top: 8px;
  }
}

.direct-sale-group {
  margin-right: 16px;
}

.select-convert-unit {
  padding-right: 8px;
  width: calc(100% - 36px);
}

.form-check {
  margin: 0 !important;
}

.title-convert-unit {
  font-size: 14px;
  font-weight: 700;
  color: #58647a;
}

.btn-add-convert-unit {
  padding: 8px 24px 8px 24px;
  border: 1px solid #0074bd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title-add-btn-convert-unit {
  font-size: 15px;
  font-weight: 700;
  color: #0074bd;
}

.group-delete {
  cursor: pointer;

  .item-delete-convert-unit svg {
    path {
      fill: red;
    }
  }
}

.addition-info {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.form-check-input:checked {
  background-color: #0074bd;
  border-color: #0074bd;
}

.addition-info {
  .form-switch {
    padding-left: 16px;

    .form-check-input {
      width: 45px;
      height: 22px;
    }
  }
}

.btn-minus {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #d5d8dd;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: #58647a;
    font-size: 14px;
  }
}

.btn-plus {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #0074bd;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: #ffffff;
    font-size: 14px;
  }
}

.title-default {
  color: #58647a;
  font-size: 16px;
  font-weight: 500;
}

.input-quantity {
  width: 70px !important;
  border: 0 !important;
  text-align: center;
}

.item-addition-info {
  margin: 16px 0;
  display: block;
}

.quantity-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;

  a {
    text-decoration: none;
  }
}

.desc {
  .form-control {
    border-radius: 0 !important;
  }

  .form-control:focus {
    border-color: #b0d4eb !important;
    box-shadow: none !important;
  }
}

.group-topping-info {
  padding: 12px 18px;
}

.group-list-topping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-topping {
  width: calc(50% - 12px);
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.role-wrapper {
  background-color: #d9eaf5;
  color: #004671;
  height: 30px;
}
