<div class="title-feature form-space-between">
  <span>Danh sách thẻ vé xe</span>
  <button class="success-button-dialog ms-3" (click)="createNewTicket()" *hasAuthorities="Authorities.TICKET_CREATE">
    <span [innerHTML]="ICON_PLUS | safeHtml"></span>
    Tạo thẻ vé mới
  </button>
</div>

<div class="field-search">
  <div class="search-citeria">
    <app-date-filter
      [class]="periods == 8 ? 'col-9' : 'col-3'"
      (timeChange)="onTimeChange($event)"
      [periods]="periods"
      [clearable]="false"
    >
    </app-date-filter>

    <div class="item-search">
      <span>Trạng thái</span>
      <div class="select-search-custom">
        <ng-select
          [items]="TICKET_STATUS"
          bindLabel="name"
          bindValue="value"
          [(ngModel)]="ticketsFilter.status"
          [clearable]="false"
          (ngModelChange)="onSearch()"
        >
        </ng-select>
      </div>
    </div>

    <div class="item-search">
      <span>Từ khoá</span>
      <div class="input-text-custom">
        <input
          class="form-control"
          [(ngModel)]="ticketsFilter.keyword"
          type="search"
          (keyup.enter)="onSearch()"
          placeholder="UID"
          autocomplete="off"
        />
      </div>
    </div>
  </div>

  <div class="form-btn-search">
    <button class="cancel-button-dialog" (click)="onReload()" [disabled]="isLoading">
      <span [innerHTML]="ICON_RELOAD | safeHtml"></span>Đặt lại
    </button>
    <button class="save-button-dialog ms-3" (click)="onSearch()" [disabled]="isLoading">
      <span [innerHTML]="ICON_SEARCH | safeHtml"></span>Tìm kiếm
    </button>
  </div>
</div>

<div class="table-responsive" *hasAuthorities="Authorities.TICKET_VIEW">
  <table class="table editing-table">
    <thead>
      <tr class="table-custom-header">
        <th>STT</th>
        <th>UID</th>
        <th>Trạng thái</th>
        <th>Ngày tạo</th>
        <th>Người tạo</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let ticket of tickets; index as i">
        <tr [ngClass]="{ 'odd-row': i % 2 === 1, 'even-row': i % 2 === 0 }" class="table-custom-body">
          <td class="text-center">{{ i + 1 + (ticketsFilter.page - 1) * ticketsFilter.size }}</td>
          <td class="text-center">{{ ticket.uid }}</td>
          <td class="text-center" [ngClass]="ticket.status === TicketStatus.ACTIVE ? 'success-color' : 'danger-color'">
            <span *ngIf="ticket.status === TicketStatus.ACTIVE">Đang hoạt động</span>
            <span *ngIf="ticket.status === TicketStatus.LOCKED">Đã bị khóa</span>
          </td>
          <td class="text-center">{{ ticket.createdDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td class="text-center">{{ ticket.createdBy }}</td>
          <td>
            <div class="action-table">
              <ng-container *hasAuthorities="Authorities.TICKET_UPDATE">
                <span
                  *ngIf="ticket.status == TicketStatus.ACTIVE"
                  [innerHTML]="ICON_STOP | safeHtml"
                  (click)="updateTicketStatus(ticket.uid, TicketStatus.LOCKED)"
                  ngbTooltip="Khóa thẻ"
                ></span>
                <span
                  *ngIf="ticket.status == TicketStatus.LOCKED"
                  [innerHTML]="ICON_PLAY | safeHtml"
                  (click)="updateTicketStatus(ticket.uid, TicketStatus.ACTIVE)"
                  ngbTooltip="Mở khóa hoạt động"
                ></span>
              </ng-container>
              <span
                [innerHTML]="ICON_DELETE | safeHtml"
                ngbTooltip="Xóa thẻ"
                (click)="deleteTicket(ticket.uid)"
                *hasAuthorities="Authorities.TICKET_DELETE"
              ></span>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="from-pagination">
  <div class="total">
    <span class="label-total">Tổng: {{ totalItems | number }}</span>
    <ng-select
      [items]="PAGINATION_PAGE_SIZE"
      [(ngModel)]="ticketsFilter.size"
      (ngModelChange)="searchTickets()"
    >
    </ng-select>
  </div>
  <ngb-pagination
    class="pagination"
    [collectionSize]="totalItems"
    [pageSize]="ticketsFilter.size"
    [page]="ticketsFilter.page"
    [directionLinks]="true"
    [maxSize]="5"
    (pageChange)="loadMore($event)"
  ></ngb-pagination>
</div>
