<div class="modal-header">
  <h5 class="modal-title">Đổi mật khẩu</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>

<div class="modal-body">
  <div class="item-search">
    <label for="old-password">Mật khẩu hiện tại</label>
    <div class="input-text-custom" [class.input-password]="hideOldPassword">
      <input
        id="old-password"
        class="form-control"
        [(ngModel)]="updateAccountPassword.oldPassword"
        name="old"
        placeholder="Mật khẩu hiện tại"
        alphanumericOnly
        autocomplete="off"
        [specialCharacter]="true"
        [isPassword]="hideOldPassword"
      />
      <div *ngIf="!hideOldPassword" class="display-password" (click)="hideOldPassword = !hideOldPassword">
        <span [innerHTML]="ICON_EYE | safeHtml"></span>
      </div>
      <div *ngIf="hideOldPassword" class="display-password" (click)="hideOldPassword = !hideOldPassword">
        <span [innerHTML]="ICON_EYE_CROSS | safeHtml"></span>
      </div>
    </div>
  </div>

  <div class="item-search">
    <label for="new-password">Mật khẩu mới</label>
    <div class="input-text-custom" [class.input-password]="hideNewPassword">
      <input
        id="new-password"
        class="form-control"
        [(ngModel)]="updateAccountPassword.newPassword"
        alphanumericOnly
        [specialCharacter]="true"
        [isPassword]="hideNewPassword"
        autocomplete="off"
        placeholder="Mật khẩu mới"
      />
      <div *ngIf="!hideNewPassword" class="display-password" (click)="hideNewPassword = !hideNewPassword">
        <span [innerHTML]="ICON_EYE | safeHtml"></span>
      </div>
      <div *ngIf="hideNewPassword" class="display-password" (click)="hideNewPassword = !hideNewPassword">
        <span [innerHTML]="ICON_EYE_CROSS | safeHtml"></span>
      </div>
    </div>
  </div>

  <div class="item-search">
    <label for="confirm-new-password">Xác nhận mật khẩu</label>
    <div class="input-text-custom" [class.input-password]="hideRepeatNewPassword">
      <input
        id="confirm-new-password"
        class="form-control"
        [(ngModel)]="repeatNewPassword"
        alphanumericOnly
        [specialCharacter]="true"
        [isPassword]="hideRepeatNewPassword"
        autocomplete="off"
        placeholder="Xác nhận mật khẩu"
      />
      <div *ngIf="!hideRepeatNewPassword" class="display-password" (click)="hideRepeatNewPassword = !hideRepeatNewPassword">
        <span [innerHTML]="ICON_EYE | safeHtml"></span>
      </div>
      <div *ngIf="hideRepeatNewPassword" class="display-password" (click)="hideRepeatNewPassword = !hideRepeatNewPassword">
        <span [innerHTML]="ICON_EYE_CROSS | safeHtml"></span>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="cancel-button-dialog" (click)="dismiss()">Huỷ</button>
  <button class="save-button-dialog" (click)="onSave()" [disabled]="isLoading">Lưu</button>
</div>
