<div (click)="hiddenAllDropdown()" id="header" [class]="'app-header ' + (isSidebarShown ? 'show-all-content' : 'mini-content')">
  <div class="navbar-nav">
    <div class="navbar-item navbar-user dropdown">
      <div class="navbar-icon navbar-button">
        <div class="overlay-container" *ngIf="showDropdown == 'LANGUAGE'" id="support-overlay-container">
          <div class="overlay">
            <a
              class="overlay-item pointer"
              style="justify-content: normal; padding: 3px 10px; text-decoration: none"
              href="#"
              target="_blank"
            >
              <span [innerHTML]="ICON_VIETNAMESE | safeHtml"></span>
              <span class="icon-text">VN</span>
            </a>
            <a
              class="overlay-item pointer"
              style="justify-content: normal; padding: 3px 10px; text-decoration: none"
              href="#"
              target="_blank"
            >
              <span [innerHTML]="ICON_ENGLISH | safeHtml"></span>
              <span class="icon-text">ENG</span>
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-icon navbar-button" style="color: black">
        <div class="me-0" id="notification-icon">
          <div style="align-items: center; display: flex; gap: 8px" class="position-relative">
            <span [innerHTML]="ICON_NOTIFICATION | safeHtml"></span>
          </div>
        </div>
      </div>
      <div class="d-flex cursor-pointer" (click)="toggleUserInfo($event)" id="show-role" style="margin-right: 20px; position: relative">
        <div id="profile" style="align-items: center; display: flex; gap: 8px; margin-right: 10px; cursor: pointer">
          <span>{{ userName }}</span>
        </div>
        <div class="bg-white rounded-circle me-15px p-6px user-logo" style="cursor: pointer">
          <img src="assets/images/default_user.png" class="default-user" alt="" />
        </div>
        <ng-container *ngIf="showDropdown == 'USER_INFO'">
          <div class="navbar-icon navbar-button navbar-user--submenu">
            <div class="overlay-container" id="roles">
              <div class="overlay">
                <div style="border-top: 1px solid #d5d8dd" (click)="logOut()">
                  <a class="overlay-item pointer div-login">
                    <span [innerHTML]="ICON_LOGOUT | safeHtml"></span>
                    <span class="icon-text">Đăng xuất</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
