.title-order-local {
  background-color: rgb(250, 230, 234);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -23px;
  margin-left: -36px;
  width: calc(100% + 72px);
  padding: 20px 36px;
  margin-bottom: 10px;

  .left-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .info-order-local {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .header {
        color: rgb(223, 47, 76);
      }

      .view-detail {
        min-width: 120px;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        border: 1px solid #1d8be6;
        color: #1d8be6;

        &:hover {
          background-color: #1d8be6;
          color: white;
        }
      }
    }

    .icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      margin-right: 10px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .icon-select {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;

    i {
      color: rgb(223, 47, 76);
    }

    &:hover {
      background-color: rgba(223, 47, 76, 0.829);

      i {
        color: white;
      }
    }
  }
}

.bg-datepicker {
  background: transparent;
  border: none;
  color: white;
  font-weight: 600;
}

.add-order {
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-date-picker {
  padding: 0 10px;
}

.col-xl-20 {
  width: 20%;
}

.total-sum {
  width: 20%;
  float: right;
  font-size: 18px;
  padding: 5px;
}

.icon-table {
  padding: 0 10px;
  justify-content: space-between;
  color: gray;
  cursor: pointer;
}

.icon-table:hover {
  color: #0d5bdd !important;
}

td {
  fa-icon {
    font-size: 1.3rem;
  }
}

.bg-datepicker {
  background: transparent;
  border: none;
  color: white;
  font-weight: 600;
}

.div-date-picker {
  padding: 0 10px;
}

.icon-table {
  padding: 0 10px;
  justify-content: space-between;
  color: white;
}

.with-label-name {
  width: 150px !important;
}

#panel-payment {
  background-color: var(--bs-gray-100);
  border-radius: 10px 10px 10px 10px;
}

button {
  padding: 8px 16px;
}

.hover-cursor-pointer:hover {
  cursor: pointer !important;
}

@media (max-width: 991.98px) {
  .widget.widget-stats {
    padding: 0.6rem !important;
  }

  .stats-icon {
    font-size: 27px !important;
    top: 1.3rem !important;
    right: 0.1rem !important;
  }
}

.canceled {
  color: #ff2121;
}

.processing {
  color: #e9a014;
}

.done {
  color: #0074bd;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .widget.widget-stats {
    padding: 0.6rem !important;
  }

  .stats-icon {
    font-size: 27px !important;
    top: 1.3rem !important;
  }
}

@media (max-width: 991.98px) {
  .widget.widget-stats {
    padding: 0.6rem !important;
  }

  .stats-icon {
    font-size: 27px !important;
    top: 1.3rem !important;
    right: 0.1rem !important;
  }
}

.panel-action {
  background-color: #0074bd;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sub-menu {
  padding: 0;
  margin-top: 2px;
  position: absolute;
  z-index: 1000;
  background-color: #0074bd;
  list-style-type: none;
  border-bottom: 0.5px solid white;
}

.sub-menu .nav-action {
  border: 0.5px solid white;
  width: 200px;
}

.list-action {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-citeria {
  align-items: end;
  margin-bottom: 12px;
}
