<div class="title-feature form-space-between">
  <span>Vai trò</span>
  <button class="success-button-dialog ms-3" *hasAuthorities="Authorities.ROLE_CREATE" (click)="openModalCreateRole()">
    <span [innerHTML]="ICON_PLUS | safeHtml"></span>
    Tạo vai trò
  </button>
</div>

<div class="field-search">
  <div class="search-citeria">
    <div class="item-search">
      <label for="search-role-keyword" class="fw-semibold">Từ khoá</label>
      <div class="input-text-custom">
        <input
          [(ngModel)]="rolesFilter.keyword"
          name="keyword"
          class="form-control"
          type="search"
          id="search-role-keyword"
          placeholder="Mã vai trò, tên vai trò"
          (keyup.enter)="onSearch()"
        />
      </div>
    </div>
    <button class="save-button-dialog ms-4" (click)="onSearch()" [disabled]="isLoading">
      <span [innerHTML]="ICON_SEARCH | safeHtml"></span>Tìm kiếm
    </button>
  </div>
</div>

<div class="tab-pane fade active show">
  <div class="row">
    <div class="col-xl-12">
      <div class="panel panel-inverse">
        <div class="table-responsive">
          <table class="table editing-table">
            <thead class="table-header-sticky">
              <tr class="table-custom-header">
                <th>STT</th>
                <th>Mã vai trò</th>
                <th>Tên vai trò</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let role of roles; index as i">
                <tr [ngClass]="{ 'odd-row': i % 2 === 1, 'even-row': i % 2 === 0 }" class="table-custom-body">
                  <td class="text-center" (click)="view(role.id)">{{ (rolesFilter.page - 1) * rolesFilter.size + i + 1 }}</td>
                  <td class="break-word-table text-center" (click)="view(role.id)">{{ role.code }}</td>
                  <td class="break-word-table text-center td-text-overflow" (click)="view(role.id)">{{ role.name }}</td>
                  <td>
                    <div class="action-table">
                      <ng-container>
                        <span
                          [innerHTML]="ICON_UPDATE | safeHtml"
                          ngbTooltip="Cập nhật"
                          (click)="openModalCreateRole(role.id)"
                          *hasAuthorities="Authorities.ROLE_UPDATE"
                        ></span>
                      </ng-container>

                      <span
                        [innerHTML]="ICON_COPY | safeHtml"
                        class="d-flex align-items-center"
                        ngbTooltip="Sao chép"
                        (click)="copyPermissions(role.id)"
                        *hasAuthorities="Authorities.ROLE_CREATE"
                      ></span>

                      <ng-container>
                        <span
                          [innerHTML]="ICON_DELETE | safeHtml"
                          ngbTooltip="Xóa"
                          (click)="delete(role)"
                          *hasAuthorities="Authorities.ROLE_DELETE"
                        ></span>
                      </ng-container>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="from-pagination">
    <div class="total">
      <span class="label-total">Tổng: {{ totalItems | number }}</span>
      <ng-select
        [items]="PAGINATION_PAGE_SIZE"
        [(ngModel)]="rolesFilter.size"
        (ngModelChange)="getRoles()"
      >
      </ng-select>
    </div>
    <ngb-pagination
      class="pagination"
      [collectionSize]="totalItems"
      [pageSize]="rolesFilter.size"
      [(page)]="rolesFilter.page"
      [directionLinks]="true"
      [maxSize]="5"
      (pageChange)="onChangedPage($event)"
    ></ngb-pagination>
  </div>
</div>
