/* You can add global styles to this file, and also import other style files */

.welcome {
  font-size: 3rem !important;
  color: aqua !important;
  text-align: center !important;
  font-weight: bolder !important;
  width: 100% !important;
  margin: 0 auto !important;
}
