<div class="modal-header">
  <h5 class="modal-title">Đổi mật khẩu</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <div class="item-search">
    <span>Mật khẩu hiện tại</span>
    <div class="input-text-custom" [class.input-password]="hideOldPassword">
      <input
        class="form-control"
        [(ngModel)]="request.oldPassword"
        name="old"
        placeholder="Mật khẩu hiện tại"
        alphanumericOnly
        autocomplete="off"
        [specialCharacter]="true"
        [isPassword]="hideOldPassword"
      />
      <div *ngIf="!hideOldPassword" class="display-password" (click)="hideOldPassword = !hideOldPassword">
        <span [innerHTML]="ICON_EYE | safeHtml"></span>
      </div>
      <div *ngIf="hideOldPassword" class="display-password" (click)="hideOldPassword = !hideOldPassword">
        <span [innerHTML]="ICON_EYE_CROSS | safeHtml"></span>
      </div>
    </div>
  </div>
  <div class="item-search">
    <span>Mật khẩu mới</span>
    <div class="input-text-custom" [class.input-password]="hidePassword">
      <input
        class="form-control"
        [(ngModel)]="request.password"
        alphanumericOnly
        [specialCharacter]="true"
        [isPassword]="hidePassword"
        autocomplete="off"
        placeholder="Mật khẩu mới"
      />
      <div *ngIf="!hidePassword" class="display-password" (click)="hidePassword = !hidePassword">
        <span [innerHTML]="ICON_EYE | safeHtml"></span>
      </div>
      <div *ngIf="hidePassword" class="display-password" (click)="hidePassword = !hidePassword">
        <span [innerHTML]="ICON_EYE_CROSS | safeHtml"></span>
      </div>
    </div>
  </div>
  <div class="item-search">
    <span>Xác nhận mật khẩu</span>
    <div class="input-text-custom" [class.input-password]="hideRePassword">
      <input
        class="form-control"
        [(ngModel)]="request.rePassword"
        alphanumericOnly
        [specialCharacter]="true"
        [isPassword]="hideRePassword"
        autocomplete="off"
        placeholder="Xác nhận mật khẩu"
      />
      <div *ngIf="!hideRePassword" class="display-password" (click)="hideRePassword = !hideRePassword">
        <span [innerHTML]="ICON_EYE | safeHtml"></span>
      </div>
      <div *ngIf="hideRePassword" class="display-password" (click)="hideRePassword = !hideRePassword">
        <span [innerHTML]="ICON_EYE_CROSS | safeHtml"></span>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="cancel-button-dialog" (click)="dismiss()">Huỷ</button>
  <button class="save-button-dialog" (click)="onSave()" [disabled]="isLoading">Lưu</button>
</div>
